@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .primary-button{
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }
    /* .primary-button:hover{
        background-color: blue -700;
        color: white;
        font-size: bold;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right:4% ;
        padding-left: 4%;
    } */
}